<div #scrollContainer class="card flex justify-content-center overflow-x-auto" >
  <p-organizationChart
      [value]="data"
      selectionMode="multiple"
      [(selection)]="selectedNodes"
      [collapsible]="true"
      [preserveSpace]="false">

          <ng-template let-node pTemplate="person">
            <div class="firstcontent" [attr.data-node-id]="node.data.id">
              <div>
                  <p>{{ node.data.date }}</p>
                </div>
                <div>
                  <p>{{ node.data.estate }}</p>
                </div>
              </div>
              <div >
                  <img style="width: 80px; height: 80px;"
                      [src]="node.data.image" />
                  <div>
                    <p>{{ node.data.name }}</p>
                  </div>
                  <div>
                    <p>{{ node.data.role }}</p>
                  </div>
                  <div>
                    <p>{{ node.data.mail }}</p>
                  </div>
                  <div>
                    <p>{{ node.data.phone }}</p>
                  </div>
              </div>
          </ng-template>
  </p-organizationChart>
</div>
